doctype html
html(lang='en')
  //
    The source you're looking for: https://github.com/gswalden/starwarsclock

  include head
  body
    #countdown
      ul: each unit in ['year', 'month', 'day', 'hour', 'minute', 'second']
        li(id=unit + 's')
          .num ∞
          =unit
          span.plural s

      #movie
        a(href='https://www.starwars.com/films/star-wars-episode-ix-the-rise-of-skywalker')= episodeName
        |  begins #{dateString}

      #image Image credit to #[a(href='//geekincognito.deviantart.com/') George "Geekincognito" Joseph]

    include scripts
