doctype html
html(lang='en')
  //
    The source you're looking for: https://github.com/gswalden/starwarsclock

  include head
  body
    #countdown
      ul: each unit in ['year', 'month', 'day', 'hour', 'minute', 'second']
        li(id=unit + 's')
          .num ∞
          =unit
          span.plural s

      #movie
        a(href='http://www.starwars.com/')= episodeName
        |  opens May 25, 2018

      #image Image credit to #[a(href='//geekincognito.deviantart.com/') George "Geekincognito" Joseph]

    include scripts
